body {
    font-family: sans-serif;
}

a {
    margin: 60px;
    color: black;
}

h1 {
    text-align: center;
}

img {
    border-left: 10px dotted black;
    margin:20px;
}

p {
    border-radius: 10px;
    border: 1px solid black;
}

.a2 {
    margin: 0px;
    color: blue;
}

footer p {
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: black;
    border: 10px solid black;
}
